@mixin specBackground ($color1, $color2, $size) {

	background: linear-gradient(45deg,$color2 0%, $color1 $size, $color_back_card $size);
	background-size: 200% 200%;
	background-position: 99% 0%;

}



//colors definition

	$color_spec1_1:		#2884b3;
	$color_spec1_2:		#84e2e3;

	$color_spec2_1:		#FC597A;
	$color_spec2_2:		#FDB481;	
	
	$color_spec3_1:		#3BB272;
	$color_spec3_2:		#71FCE1;

	$color_spec4_1:		#3B49B2;
	$color_spec4_2:		#71C1FC;

	$color_spec5_1:		#ff1caf;
	$color_spec5_2:		#ff9a67;

	

	$color_theme1_1: 	#2884b3;
	$color_theme1_2: 	#84e2e3;

	$color_theme2_1: 	#FC597A;
	$color_theme2_2: 	#FDB481;

	$color_theme3_1: 	#ff9a67;
	$color_theme3_2: 	#ff1caf;

	$color_theme4_1: 	#919191;
	$color_theme4_2: 	#BCBCBC;



	$color_done: 		#61CE31;

//gradients

	$gradient_theme1_1: linear-gradient(99deg, $color_theme1_2, $color_theme1_1);
	$gradient_theme2_1: linear-gradient(293deg, $color_theme2_2, $color_theme2_1);
	$gradient_theme3_1: linear-gradient(293deg, $color_theme3_2, $color_theme3_1);
	$gradient_theme4_1: linear-gradient(293deg, $color_theme4_2, $color_theme4_1);

//background colors
	$color_back: 		#FAFAFA;
	$color_back_card: 	#FFFFFF;

//font colors
	$color_text_darker: #000000;
	$color_text_dark:	#323C47;
	$color_text_light: 	#95989A;
	$color_text_lighter:#989898; 
	$color_text_white: 	white;
	$color_text_tasks:  #818181;


// media queries - lower bound

	$screen_size_S: 576px;
	$screen_size_M: 768px;
	$screen_size_L: 992px;

//fonts definition

$font_title_family: 'Catamaran', sans_serif;
$font_reg_family: 'Proxima Nova', 'Arial', sans_serif;
$font_code_family: 'Source Code Pro', monospace;

//title family potrzebna 300,400,500,700
//reg family potrzebne 300,400,500,600,700,800
//code family potrzebne 500

@font-face {
    	font-family: "Proxima Nova";
    	src: url("fonts/Mark Simonson - Proxima Nova Condensed Regular.otf") format('opentype');
//		src: url('fonts/Proxima Nova.eot?#iefix') format('embedded-opentype'),
//		  url('fonts/Proxima Nova.woff2') format('woff2'),
//		  url('fonts/Proxima Nova.woff') format('woff'),
//		  url('fonts/Proxima Nova.ttf') format('truetype'),
		 font-weight: regular;
}
@font-face {
    font-family: "Proxima Nova";
    src: url("fonts/Mark Simonson - Proxima Nova Condensed Light.otf") format('opentype');
    font-weight: 300;
}
// @font-face {
//     font-family: "Proxima Nova";
//     src: url("fonts/Proxima Nova Medium.otf") format('opentype');
//     font-weight: 500;
// }
@font-face {
    font-family: "Proxima Nova";
    src: url("fonts/Mark Simonson - Proxima Nova Semibold.otf") format('opentype');
    font-weight: 600;
}
@font-face {
    font-family: "Proxima Nova";
    src: url("fonts/Mark Simonson - Proxima Nova Bold.otf") format('opentype');
    font-weight: 700;
}
@font-face {
    font-family: "Proxima Nova";
    src: url("fonts/Mark Simonson - Proxima Nova Extrabold.otf") format('opentype');
    font-weight: 800;
}


