@import '_reset';
@import '_zmienne';


html {font-size: 62.5%;height: 100%; background-color: $color_back;}
body {width: 100%; height: 100%; overflow-x: hidden;}


@keyframes fadeIn {
    from { opacity: 0; }
      to { opacity: 1; }
}

@keyframes slideInLeft {
    0%   {transform: translateX(100%)}
    100% {transform: translateX(0%)}
}

@keyframes slideOutLeft {
    0%   {transform: translateX(0%);}
    100% {transform: translateX(-100%);}
}


.interests{

    transform: translateX(0%);
    transition: transform 0.3s ease-out; 

    width: 300%;
    height: 100%;
    text-align: center;


    &__specs, &__badges, &__tasks {
        position: relative;
        float: left;
        width: 33.3%;
        min-height: 100%;
        top:0;
        left:0;
        transition: all 0.3s linear;
        
    }

    button { 
        text-transform: uppercase;
        font: 1.9rem $font_reg_family;
        font-weight: bolder;
        padding: 1.5rem 4.0rem; //tu były różne paddingi podane
        border-radius: 2.6rem;
        color: $color_text_white;
        margin-top: 8.0rem;
        margin-bottom: 8.0rem;
    }

    h2 {
        padding-top: 10%;
        margin-bottom: 1rem;
        font: 4.0rem $font_title_family;
        line-height: 6.6rem;
        color: $color_text_dark;
        span{font-weight: 700;}
    }
    &__badges h2{
        padding-top: 5%;
    }

    &__subtitle {
        font: 1.8rem $font_reg_family;
        padding: 0px 30px;
        color: $color_text_light;
        max-width: 580px;
        margin: auto;
        margin-bottom: 6.0rem;
    }

    &__badge-lbl, &__spec-lbl {
        display: block;     
        position: relative;
        top:0;
        right: 6%;
        text-align: right;
        cursor: pointer;

        &::before{
            content:'';
            display:inline-block;
            vertical-align: middle;
            width: 1.4rem;
            height: 1.4rem;
            margin-right: 0.8rem;
            background: $color_back url(assets/zaznacz.svg) top center no-repeat;
            background-size: 100%;
        }

        &::after{
            content: 'Zaznacz wszystko';
            font: 1.0rem $font_reg_family;
            text-transform: uppercase;
            color: $color_text_light;
            font-weight: bold;
        }

        &--selected {

            &::after{
                content:  'Odznacz wszystko';
            }

            &::before{
                background: $color_back url(assets/odznacz.svg) top center no-repeat;
                background-size: 100%;
            }
            
        }

    }

    &__badges-footer {
            position: relative;
            transition: all 0.3s linear;            

        &--active{
            position: sticky;
            bottom: 0px;
            left: 0px;
            width:100%;
            // height: 205px;
            box-shadow: -2px 0px 4px rgba(black,0.16);
            background-color: white;
        }
    }





    input[type='checkbox']{
        display:none;
    }


    &__spec-btn, &__badge-btn{   
        background: $color_theme4_1 $gradient_theme4_1; 
        &--active{ 
            background: $color_theme2_1 $gradient_theme2_1;
            cursor: pointer;
        }
    }

    &__specs ul{
        display:grid;
        grid-gap:48px;
        grid-template-columns: repeat(auto-fill,minmax(296px, 1fr));
        @media( max-width: $screen_size_S){
            grid-template-columns: repeat(auto-fill,minmax(250px, 1fr));
        }
        margin: 24px 6%;
    }

    &__badges ul{
        position: relative;
        display:grid;
        grid-gap:28px;
        grid-template-columns: repeat(auto-fill,minmax(396px, 1fr));
        @media( max-width: $screen_size_S){
            grid-template-columns: repeat(auto-fill,minmax(250px, 1fr));
        }
        margin: 65px 6%;
        &::after{
            content:'';
            height: 2px;
            width: 100%;
            background-color: rgba(black,0.026%);
            position: absolute;
            bottom: -34px;
            left:0px;
        }
        &:last-child::after{
            display:none;
        }
    }

    
    &__spec, &__badge{
        position: relative;
        display: inline-block;
        vertical-align: middle;
        text-align: left;
        &1 { @include specBackground ($color_spec1_1, $color_spec1_2, 45%);}
        &2 { @include specBackground ($color_spec2_1, $color_spec2_2, 45%);}
        &3 { @include specBackground ($color_spec3_1, $color_spec3_2, 45%);}
        &4 { @include specBackground ($color_spec4_1, $color_spec4_2, 45%);}
        &5 { @include specBackground ($color_spec5_1, $color_spec5_2, 45%);}
        
       
        padding: 2.0rem 3.0rem;
        border-radius: 2.6rem;
        transition: scale 0.3s;
        transition: background-position 0.3s linear;
        transform-origin: 50% 50%;
        box-shadow: 0px 3px 6px rgba(black,0.05);
        cursor: pointer;
        
        h3{
            color: $color_text_darker;
            font-family: $font_title_family;
            line-height: 100%;
            font-weight: 700;
        }
        p{
            font: 1.6rem $font_reg_family;
            color: $color_text_lighter;
        }

        &:hover{
            transform: scale(1.03);
            box-shadow: 0px 3px 22px rgba(black,0.15);
        }

        &--selected {

            background-position: 0% 100%;
            h3,p {color: white; }
            
       }

    }  


    &__badge{
        &1 { @include specBackground ($color_spec1_1, $color_spec1_2, 43%);}
        &2 { @include specBackground ($color_spec2_1, $color_spec2_2, 43%);}
        &3 { @include specBackground ($color_spec3_1, $color_spec3_2, 43%);}
        &4 { @include specBackground ($color_spec4_1, $color_spec4_2, 43%);}
        &5 { @include specBackground ($color_spec5_1, $color_spec5_2, 43%);}

        &--selected {

            background-position: 0% 100%;
            h3,p {color: white; }
        
        }

        &::before{
            content:'';
            position:absolute;
            top:0;
            left:0;
            height: 100%;
            width:20px;
            border-top-left-radius: 2.6rem;
            border-bottom-left-radius: 2.6rem;
            background: inherit;
            background-position: 0% 100%;
            background-size: 250%;
        }

    }
    
    &__specs h2::before{
        content:'Grzegorz';
        text-decoration: underline;
    }

    &__spec{
        min-height: 300px;      

        h3 { font-size: 3.7rem;}

        &1 svg {fill: url(#gradient1);}
        &2 svg {fill: url(#gradient2);}
        &3 svg {fill: url(#gradient3);}
        &4 svg {fill: url(#gradient4);}
        &5 svg {fill: url(#gradient5);}

        img, svg{
            display: block;
            margin-left:auto;
            margin-right:auto;
            position:absolute;
            bottom: 4.0rem;
            left:0;
            right:0;
            width: auto;
            height: 150px;
        }

        &--selected {
            svg { fill: white;}

            &::after{
                top:13px;
                right:13px;
            }
        }
    }

    &__spec, &__badge {
        .interests__tick{
            display: none;
            fill: none;
            stroke-width: 3px;
            position:absolute;
            top: 10px;
            right:10px;
            left: auto;
            width: 7%;
            height: 20px;
        }

        &1 .interests__tick{ stroke: url(#gradient1); }

        &2 .interests__tick{ stroke: url(#gradient2); }

        &3 .interests__tick{ stroke: url(#gradient3); }

        &4 .interests__tick{ stroke: url(#gradient4); }

        &5 .interests__tick{ stroke: url(#gradient5); }

        &--selected {
            .interests__tick{
                display: block;
            }
        }
    }

    &__badge{
        min-height: 120px;
        padding-left: 5.9rem;
        padding-top: 3.4rem;

        h3  { font-size: 3.0rem; padding-bottom: 0.5rem; }

    
            // &::before{
            //     // background-position: 100% 0%;
            // }
            // &::after{
            //     top:10px;
            //     right:10px;
            // }
       
    }



    &__task-left{
        min-width: 67%;
        min-height: 100%;
        margin-right:23%;
        @media(max-width: $screen_size_L){ 
            margin-right:0%;
        }
    }

    &__task-right{
        position: absolute;
        right:0;
        top:0;
        width:23%;
        height:100%;
        background: $color_theme3_1 $gradient_theme3_1;

        img {
            width: 50%;
            margin:auto;
            position: relative;
            top:40%;
        }

        @media(max-width: $screen_size_L){
            display:none;
        }
    }

    &__skip, &__task-back{
        display: block;
        font: 1.2rem $font_reg_family;
        color: $color_text_light;
        margin: auto;
        margin-top: -4.0rem;
        padding-bottom: 5.7rem;
        text-decoration: underline;
        cursor: pointer;
    }


    &__task{
        position: relative;
        display: block;
        width: 80%;
        max-width: 530px;
        margin: auto;
        margin-top: -2px;
        padding: 3.5rem 10% 3.5rem 8%;
        text-align:left;
        font: 2.1rem $font_reg_family;
        border-bottom: 2px rgba($color_text_light,0.21) solid;
        border-top: 2px rgba($color_text_light,0.21) solid;
        color: $color_text_tasks;
        ::after {
            content: '';
            position: absolute;
            right: 8%;
            top: 2.8rem;
            width: 3.8rem;
            height: 100;
            border-radius: 100%;
            background: $color_text_tasks url(assets/tick.svg) center center no-repeat;
            background-size: 60%;
        }
        &--completed{
            text-decoration: line-through;
            ::after {
                content: '';
                background: $color_done url(assets/tick.svg) center center no-repeat;
                background-size: 60%;
            }

        }

    }

    &__task-btn {
        background: $color_theme4_1 $gradient_theme4_1; 
        &--active{ 
            background: $color_theme3_1 $gradient_theme3_1;
            cursor: pointer;
        }

    }





}



