@import '_reset';
@import '_zmienne';


html {font-size: 62.5%;height: 100%; background-color: $color_back;}
body {width: 100%; height: 100%;}


@keyframes slideInLeft {
    0%   {transform: translateX(100%)}
    100% {transform: translateX(0%)}
}

@keyframes slideOutLeft {
    0%   {transform: translateX(0%);}
    100% {transform: translateX(-100%);}
}

@keyframes slideInDiagonal {
    0%   {
        border-top: 300px solid white;
        border-left: 300px solid transparent;
    }
    100% {
        border-top: 60px solid white;
        border-left: 60px solid transparent;
    }
}

@keyframes slideInDiagonal2 {
    0%   {
        width:0px;
    }
    99%{
        width:0px;        
    }
    100% {
        width:16px;
    }
}

@keyframes slideOutDiagonal {
    0%   {
        border-top: 60px solid white;
        border-left: 60px solid transparent;
        
    }
    99% {
        border-top: 1000px solid white;
        border-left: 1000px solid transparent;
    }
    100% {
        border-top: 0px solid white;
        border-left: 0px solid transparent;
    }
}

@keyframes slideOutDiagonal2 {
    0%   {
        background: $color_theme1_1;
    }
    99% {
        background: $color_theme1_1;
    }
    100% {
        background: $color_back_card;
    }
}



.interests{

    width: 100%;
    height: 100%;
    background-attachment: fixed;
    text-align: center;


    &__spec-choice, &__tech-choice, &__task-list {
        position: absolute;
        width: 100%;
        top:0;
        left:0;
        transition: all 3s linear;
        
        animation: slideInLeft;
        animation-duration: 0.3s;
        animation-fill-mode: forwards;            

        &--hidden {
            animation: slideOutLeft;
            animation-duration: 0.3s;
            animation-fill-mode: forwards;
        }

    }

    button { 
        text-transform: uppercase;
        font: 1.9rem $font_reg_family;
        font-weight: bolder;
        padding: 1.5rem 4.0rem; //tu były różne paddingi podane
        border-radius: 2.6rem;
        color: $color_text_white;
        margin-top: 8.0rem;
        margin-bottom: 8.0rem;
    }

    h2 {
        padding-top: 10%;
        margin-bottom: 1rem;
        font: 4.0rem $font_title_family;
        color: $color_text_dark;
        span{font-weight: 700;}
    }

    &__subtitle {
        font: 1.8rem $font_reg_family;
        color: $color_text_light;
        max-width: 580px;
        margin: auto;
        margin-bottom: 6.0rem;
    }

    &__tech-label, &__spec-label {
        display: block;     
        position: relative;
        top:0;
        right: 6%;
        text-align: right;

        &::before{
            content:'';
            display:inline-block;
            vertical-align: middle;
            width: 1.4rem;
            height: 1.4rem;
            margin-right: 0.8rem;
            background: $color_back url(assets/zaznacz.svg) top center no-repeat;
            background-size: 100%;
        }

        &::after{
            content: 'Zaznacz wszystko';
            font: 1.0rem $font_reg_family;
            text-transform: uppercase;
            color: $color_text_light;
            font-weight: bold;
        }

        &--selected {

            &::after{
                content:  'Odznacz wszystko';
            }

            &::before{
                background: $color_back url(assets/odznacz.svg) top center no-repeat;
                background-size: 100%;
            }
            
        }

    }

    input[type='checkbox']{
        display:none;
    }


    &__spec-button, &__tech-button{   
        background: $color_theme4_1 $gradient_theme4_1; 
        &--active{ 
            background: $color_theme2_1 $gradient_theme2_1;
            cursor: pointer;
        }
    }

    &__spec-cards, &__tech-cards {
        margin: 0px 4.2%;
        display:flex;
        flex-flow: row wrap;
        justify-content: center;
    }
    
    &__spec-card, &__tech-card{
        flex-grow: 1;
        position: relative;
        display: inline-block;
        vertical-align: middle;
        text-align: left;
        background: $color_back_card;
        padding: 2.0rem 3.0rem;
        border-radius: 2.6rem;
        transition: scale 0.3s;
        transform-origin: 50% 50%;
        box-shadow: 0px 3px 6px rgba(black,0.05);
        cursor: pointer;
        
        h3{
            color: $color_text_darker;
            font-family: $font_title_family;
            line-height: 100%;
            font-weight: 700;
        }
        p{
            font: 1.6rem $font_reg_family;
            color: $color_text_lighter;
        }

        &:hover{
            transform: scale(1.05);
            box-shadow: 0px 3px 22px rgba(black,0.15);
        }

        &--selected {

            background: $gradient_theme1_1 $color_theme1_1;
            h3,p {color: white; }
            

            &::after{
                content: '';
                position: absolute;
                top:0;
                right:0;
                width:0;
                height:0;
                animation: slideInDiagonal;
                animation-duration: 0.3s;
                animation-fill-mode: forwards;
                border-top: 80px solid white;
                border-left: 80px solid transparent;

            }

            &::before{
                content: url('assets/tick.svg');
                position:absolute;
                top:13px;
                right:13px;
                width:16px;
                z-index:1;
                animation: slideInDiagonal2;
                animation-duration: 0.3s;
                animation-fill-mode: forwards;

            }
        }

    }  
    
    &__spec-card{
        width: 300px;
        height: 300px;
        margin: 24px;
        

        h3 { font-size: 3.7rem;}

        img{
            display: block;
            margin-left:auto;
            margin-right:auto;
            position:absolute;
            bottom: 4.0rem;
            left:0;
            right:0;
            width: 100px;
            height: 100px;
        }
    }

    &__tech-card{
        width: 400px;
        height: 120px;
        margin: 20px;
        padding-left: 11.3rem;

        h3  { font-size: 3.0rem;}

        img{
            display: block;
            position:absolute;
            top: 2.8rem;
            left:3.5rem;
            width: 52px;
        }
    }

    &__task-list{
        width:100%;
        min-height: 100%;
    }

    &__task-left{
        min-width: 67%;
        min-height: 100%;
        margin-right:23%;
        @media(max-width: $screen_size_L){ 
            margin-right:0%;
        }
    }

    &__task-right{
        position: absolute;
        right:0;
        top:0;
        width:23%;
        height:100%;
        background: $color_theme3_1 $gradient_theme3_1;

        img {
            width: 50%;
            margin:auto;
            position: relative;
            top:40%;
        }

        @media(max-width: $screen_size_L){
            display:none;
        }
    }

    &__tech-back, &__task-back {
        display: block;
        font: 1.0rem $font_reg_family;
        color: $color_text_light;
        margin: auto;
        margin-top: -4.0rem;
        margin-bottom: 8.0rem;
        text-decoration: underline;
        cursor: pointer;
    }


    &__task{
        position: relative;
        display: inline-block;
        width: 80%;
        max-width: 530px;
        margin: auto;
        padding: 3.5rem 4.5rem;
        text-align:left;
        font: 2.1rem $font_reg_family;
        border-bottom: 2px rgba($color_text_light,0.21) solid;
        border-top: 2px rgba($color_text_light,0.21) solid;
        color: $color_text_tasks;
        ::after {
            content: '';
            position: absolute;
            right: 3.1rem;
            top: 2.8rem;
            width: 3.8rem;
            height: 3.8rem;
            border-radius: 100%;
            background: $color_text_tasks url(assets/tick.svg) center center no-repeat;
            background-size: 60%;
        }
        &--completed{
            text-decoration: line-through;
            ::after {
                content: '';
                background: $color_done url(assets/tick.svg) center center no-repeat;
                background-size: 60%;
            }

        }

    }

    &__task-button {
        background: $color_theme4_1 $gradient_theme4_1; 
        &--active{ 
            background: $color_theme3_1 $gradient_theme3_1;
            cursor: pointer;
        }

    }





}



